/* Jessica Long-Heinicke */

/* Class for white fill and black stroke */
.white-fill-black-stroke {
    -fx-fill: white;
    -fx-stroke: black;
}

/* ID for red fill and green stroke */
#red-fill-green-stroke {
    -fx-fill: red;
    -fx-stroke: green;
}
